@media (max-width: 947px){
    .header{
        height: 600px;
    }
    .header__content{
        height: 500px;
    }
    .header__content > h1{
        font-size: 45px;
    }
    .header__content > p{
        font-size: 12px;
    }
}
@media (max-width:650px){
    .header{
        height: 500px;
    }
    .header__content{
        height: 400px;
    }
    .header__content > h1{
        font-size: 25px;
    }
    .header__content > p{
        font-size: 10px;
    }
}
@media (max-width:520px){
    .header__content > h1{
        font-size: 20px;
    }
}

/** ----------------- **/

@media (max-width: 520px){
    .nav__logo{
        width:60px;
        height: 15px;
    }
    .nav__logo > img{
        width:60px;
    }
    .nav__item {
        width: 100%;
        font-size: 10px;
        padding: 5px;
    }
}

/** ----------------- **/

@media (max-width: 947px){
.about__content{
    margin-top: 10px;
  justify-content: center;
    flex-wrap: wrap;
  }
  .about__img{
   flex-wrap: wrap;
  }
}
@media (max-width: 520px){
    .about__img-item{
        width: 100%;
        height: 100px;
    }
    .about__img-item > img{
        width: 100%;
        height: 100px;
        object-fit: cover;
    }
}

/** ----------------- **/
@media (max-width: 780px){
.services__header{
display: block;
max-width: 600px;
margin: 0 auto;
text-align: center;

}
.services__paragraf{
margin: 0 auto;
padding: 20px;
    }
.services__card{
    margin: 0 auto;
}
}

@media (max-width: 650px){

    .services__main{
        flex-wrap:wrap;
    }
    
    }